<div class="input {{style}}">
    {{#if errorMessage}}
        <div class="error">{{errorMessage}}</div>
    {{/if}}
    <input
        value="{{value}}"
        type="{{type}}"
        name="{{name}}"
        id="{{name}}"
        placeholder="{{placeholder}}"
        autocomplete="off"
        {{#if isDisabled}}disabled="true"{{/if}}
    >
    <label class="description" for="{{name}}">{{label}}</span>
</div>
