<div class="input">
    {{#if errorMessage}}
        <div class="error">{{errorMessage}}</div>
    {{/if}}
    <input type="{{type}}" name="{{name}}" id="{{label}}" placeholder="{{placeholder}}">
    <label class="description" for="{{label}}">{{placeholder}}</span>
</div>
